<!doctype html>
<html lang="zh-CN">

<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap 的 CSS 文件 -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>

    <style>body {text-align: center;} </style>
    <title>新冠疫情查询系统</title>
</head>

<body>
    <img src="{{url_for('static', filename='xinguan.png')}}" class="rounded mx-auto d-block" style="width: 100%;">

    <form method="POST">
        <button type="submit" name="options" id="option1" class="btn btn-outline-primary btn-lg" value="1">本国疫情趋势图</button>
        <button type="submit" name="options" id="option2" class="btn btn-outline-secondary btn-lg" value="2">世界疫情地图</button>
        <button type="submit" name="options" id="option3" class="btn btn-outline-success btn-lg" value="3">医院数据更新</button>
    </form>
</body>

</html>
