<!doctype html>
<html lang="zh-CN">

<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap 的 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-LCPyFKQyML7mqtS+4XytolfqyqSlcbB3bvDuH9vX2sdQMxRonb/M3b9EmhCNNNrV"
    crossorigin="anonymous"></script>

    <style>body {text-align: center;} </style>
    <title>新冠疫情查询系统</title>
</head>

<body>
    <img src="{{url_for('static', filename='xinguan.png')}}" class="rounded mx-auto d-block" style="width: 100%;">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <form method="POST">
        <button type="submit" name="options" id="option1" class="btn btn-outline-primary btn-lg" value="1">查询1</button>
        <button type="submit" name="options" id="option2" class="btn btn-outline-secondary btn-lg" value="2">查询2</button>
        <button type="submit" name="options" id="option3" class="btn btn-outline-success btn-lg" value="3">查询3</button>
    </form>
</body>

</html>
