<!doctype html>
<html lang="zh-CN">

<head>
  <!-- 必须的 meta 标签 -->
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

  <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
  <link href="{{url_for('static', filename='css/bootstrap-datetimepicker.min.css')}}" rel="stylesheet">
  <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/moment-with-locales.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap-datetimepicker.min.js')}}"></script>

  <script type="text/javascript" src="{{url_for('static', filename='js/echarts.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/world.js')}}"></script>

  <title>qaz</title>
</head>

<body>

  <div class="page-header"  style="text-align:center">
    <h1>国家疫情趋势查询</h1>
  </div>

  <div class="container">
  <form  method="POST">
    <div class="row">
      <div class="form-group col-md-6"  style="text-align:center">
        <label>查询时间</label>
        <div class="col">
          {% if begintime != "" %}
          <input name = 'begintime' type="text" value = {{begintime}} disabled>
          {% else %}
          <input name = 'begintime' type="text" id="datetime1"  placeholder="开始时间">
          {% endif %}
        </if>
        </div>

        <div class="col">
          {% if endtime != "" %}
          <input name = 'endtime' type="text"  value = {{endtime}} disabled>
          {% else %}
          <input name = 'endtime' type="text" id="datetime2"   placeholder="结束时间">
          {% endif %}
        </div>
      </div>
      <div class="form-group col-md-2" >
      <label>国家/地区</label>
      <div class="col">
      <select name = 'countries' method="GET" action="/p1" >
        {% for ct in countries %}
        <option value = "{{ct}}" SELECTED>{{ct}}</option>"
        {% endfor %}
      </select></div>
      </div>

      <div class="form-group col-md-2" style="text-align:left" >
        <p></p>
      <button type="submit" class="btn btn-primary">查询</button>
      </div>

      </div>
  </form>

  <div  style="text-align:right">
    <form  method="GET">
      <button type="submit" class="btn btn-primary">返回</button>
    </form></div>
  
    <div  style="text-align:right">
    <form action="/" method="GET">
      <button type="submit" class="btn btn-primary">返回主页</button>
    </form></div>


  {% if graphdate != "" %}
  <div id="line" style="width:1000px; height:500px;"></div>
  <script  type="text/javascript">

    var chart = echarts.init(document.getElementById('line'), 'white', {renderer: 'canvas'});
    var ttt = {{ graphdate | safe }};
    chart.setOption( ttt ) ;
  </script>
  {% endif %}

<script>
  $("#datetime1").datetimepicker({
      format: 'YYYY-MM-DD',
      locale: moment.locale('zh-CN'),
      minDate: 2019-01-01
    });

  $("#datetime2").datetimepicker({
      format: 'YYYY-MM-DD',
      locale: moment.locale('zh-CN'),
      minDate: 2019-01-01
    });
</script>

</div>
</body>
</html>
