<!doctype html>
<html lang="zh-CN">

<head>
  <!-- 必须的 meta 标签 -->
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- bootstrap样式表 -->
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- 时间选择器样式表 -->
<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">


<!-- jquery -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

<!-- bootstrap脚本 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- 时间选择器前置脚本 -->
<script src="https://cdn.bootcss.com/moment.js/2.22.1/moment-with-locales.min.js"></script>

<!-- 时间选择器核心脚本 -->
<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>


<script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
<script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/world.js"></script>

  <title>qaz</title>
</head>

<body>
  <form  method="POST">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>查询时间</label>
        <div class="col">
          {% if begintime != "" %}
          <input name = 'begintime' type="text" value = {{begintime}}>
          {% else %}
          <input name = 'begintime' type="text" id="datetime"  placeholder="开始时间">
          {% endif %}
          </if>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">查询</button>
  </form>

  <form  method="GET">
    <button type="submit" class="btn btn-primary">返回</button>
  </form>

  <form action="/" method="GET">
    <button type="submit" class="btn btn-primary">返回主页</button>
  </form>

  {% if graphdate != "" %}
  <div id="map" style="width:1200px; height:600px;"></div>
  <script  type="text/javascript">

    var chart = echarts.init(document.getElementById('map'), 'white', {renderer: 'canvas'});
    var ttt = {{ graphdate | safe }};
    chart.setOption( ttt ) ;
  </script>
  {% endif %}
  
<script>
  $("#datetime").datetimepicker({
      format: 'YYYY-MM-DD',
      locale: moment.locale('zh-CN'),
      minDate: '2019/01/01'
    });
</script>
</body>
</html>
